<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Usuarios</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script>
        function validarInput(event) {
          var charCode = event.which ? event.which : event.keyCode;
          if (charCode < 48 || charCode > 57) {
            event.preventDefault();
          }
        }
      </script>
</head>
<body>
    <div class="container">.
        <h1>Iniciar secion</h1>
        <form class="form" id="form">
            <!-- hazme un selector con todas las ciudades de colombia que tengan aeropuerto -->
            <label >identificacion</label>
            <input placeholder="Identificacion" onkeypress="validarInput(event)" required>
            <label for="origen">Contraseña</label>
            <input placeholder="Contrasena" type="password" minlength="6" required >
            <button type="submit">Iniciar Seción</button>
        </form>
        <p>¿Aún no tienes una cuenta? <a href="agregarUsuario">Registrar</a></p>
    </div>
    <script>
        form.addEventListener("submit", function(event) {
            event.preventDefault();  // Previene el comportamiento de redirección del formulario
            const dataToSend = {
                identificacion: event.target[0].value,
                contrasena: event.target[1].value,
            }
            console.log({event, dataToSend})
        
            fetch('/api/iniciarSecion', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dataToSend)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status==="success") {
                        alert("Inicio de sesión exitoso");
                        window.location.href = "misVuelos"
                      } else {
                        alert("Nombre de usuario o contraseña incorrectos");
                      }
                    // Maneja la respuesta obtenida del endpoint después de hacer el POST
                })
                .catch(error => {
                    // Maneja el error en caso de que la solicitud falle
                    console.log(error);
                });
        });
        
        
    </script>
</body>
</html>