<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aerolinia x</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="home"><img src="{{ url_for('static', filename='assets/logo.png') }}" alt=""></a></li>
                <div class="subNav" id="subNav">
                    <li><a href="misVuelos">Mis vuelos</a></li>
                </div>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Vuelos</h1>
        <div id="containerVuelos"></div>

    </div>
    <script>
        let containerVuelos = document.getElementById('containerVuelos');
        let closeSesionButton;
        document.addEventListener('DOMContentLoaded', function() {
            const user = JSON.parse(localStorage.getItem('user'));//obtiene el usuario si está logueado
            if (user) {
                let div = document.getElementById('subNav');
                div.innerHTML += `<button class="closeSesion" id="closeSesion">Cerrar sesión</button>`; // si está logueado agrega el botón de cerrar sesión
                
                closeSesionButton = document.getElementById('closeSesion');
                closeSesionButton.addEventListener('click', function() {
                    localStorage.removeItem('user');
                    window.location.href = '/';
                });
            } else {
                window.location.href = '/'; // si no está logueado lo redirige al login
            }
            fetch('/api/listaVuelos')  // pide la lista de vuelos
                .then(response => response.json())
                .then(vuelos => {
                    // Manipula la respuesta obtenida del endpoint
                    console.log(vuelos);
                    vuelos.forEach(vuelo => {
                        containerVuelos.innerHTML += `
                        <div class="card" onclick="window.location.href = '/vuelo/1'">
                            <div class="cardHeader">
                                <img src="{{ url_for('static', filename='assets/avion.png') }}" alt="" />
                                <h2>${vuelo.origen} - ${vuelo.destino}</h2>
                            </div>
                            <div class="cardBody">
                                <p class="yellowMarker">Fecha de vuelo: ${vuelo.fechaVuelo}</p>
                                <p>Salida: ${vuelo.horaSalida}</p>
                                <p class="redMarker">Llegada: ${vuelo.horaLlegada}</p>
                            </div>
                            <div class="cardFooter">
                                <p>$${vuelo.precio[0]}</p>
                            </div>
                        </div>`;
                    });
                })
                .catch(error => {
                    // Maneja el error en caso de que la solicitud falle
                    console.log(error);
                });
        });
    </script>
</body>
</html>