<!-- la idea de esta vista es escoger la clase del vuelo y ver los detalles del vuelo -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuelo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='assets/logo.png') }}" alt=""></a></li>
                <div class="subNav" id="subNav">
                    <li><a href="{{ url_for('misVuelos') }}">Mis vuelos</a></li>
                </div>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="flyDetailContainer">
            <div class="flyDetails">
                <div class="titleContainer">
                    <img src="{{ url_for('static', filename='assets/mapa.png') }}" alt="">
                    <h1>Detalles del vuelo</h1>
                </div>
                <div class="imgTitleContainer">
                    <div id="origenContainer">
                        <h2 id="origenDestino"></h2>
                    </div>
                    <img src="{{ url_for('static', filename='assets/ventanaavion.avif') }}" alt="">
                    <div class="overlay"></div>
                </div>
                <div class="cardBody" style="margin-top: 20px;">
                    <p class="yellowMarker" id="fechaVuelo">Fecha de vuelo: </p>
                    <p id="horaSalida">Salida: </p>
                    <p class="redMarker" id="horaLlegada">Llegada: </p>
                </div>
            </div>
            <div class="clases">
                <div class="clase">
                    <div class="titleContainer">
                        <img src="{{ url_for('static', filename='assets/empresario.png') }}" alt="">
                        <h3>Clase ejecutiva</h1>
                    </div>
                </div>
                <div class="clase">
                    <div class="titleContainer">
                        <img src="{{ url_for('static', filename='assets/turista.png') }}" alt="">
                        <h3>Clase comercial</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let closeSesionButton;
        document.addEventListener('DOMContentLoaded', function() {
            // valida si el usuario está logueado
            const user = JSON.parse(localStorage.getItem('user'));//obtiene el usuario si está logueado
            if (user) {
                let div = document.getElementById('subNav');
                div.innerHTML += `<button class="closeSesion" id="closeSesion">Cerrar sesión</button>`; // si está logueado agrega el botón de cerrar sesión
                
                closeSesionButton = document.getElementById('closeSesion');
                closeSesionButton.addEventListener('click', function() {
                    localStorage.removeItem('user');
                    window.location.href = '/';
                });
            } else {
                window.location.href = '/'; // si no está logueado lo redirige al login
            }

            // obtener información del vuelo
            const idVuelo = window.location.pathname.split('/')[2]; //saca el id de la url

            fetch(`/api/vuelo/${idVuelo}`)
                .then(response => response.json())
                .then(data => {
                    let origenDestino = document.getElementById('origenDestino');
                    origenDestino.innerHTML = `${data.origen} - ${data.destino}`;

                    let fechaVuelo = document.getElementById('fechaVuelo');
                    fechaVuelo.innerHTML += `${data.fechaVuelo}`;

                    let horaLlegada = document.getElementById('horaLlegada');
                    horaLlegada.innerHTML += `${data.horaLlegada}`;

                    let horaSalida = document.getElementById('horaSalida');
                    horaSalida.innerHTML += `${data.horaSalida}`;
                    console.log(data);
                });
        });
    </script>
    
</body>
</html>