body{
    /* background-color: #31c292; */
    background-color: #fff;
    color: #1d1d1d;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: #31c292;
    border-radius: 25px;
    height: 70px;
    margin: 20px;
}

ul  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100%;
    padding-right: 30px;
}
li {
    list-style: none;
}

li a{
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 600;
} 
li a img{
    height: 50px;
}
.container{
    height: 70vh;
    background-color: #31c292;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
}
.card{
    width: 250px;
    height: 165px;
    background-color: #fff;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.card:hover{
    -webkit-box-shadow: 0px 0px 15px -2px #1a664d;
    -moz-box-shadow: 0px 0px 15px -2px #195f48;
    box-shadow: 0px 0px 15px -2px #155741;
}
.cardHeader{
    display: flex;
    align-items: center;

}
.cardHeader img{
    width: 20px;
    height: 20px;
}
.cardHeader h2{
    font-size: 18px;
    margin-left: 10px;
}
.cardBody{
    display: flex;
    flex-direction: column;
}
.cardBody p{
    font-size: 14px;
    margin: 5px 5px 0 0px;
    height: 20px;
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 5px 0 10px;
}
.yellowMarker{
    background-color: #ffe347;
    border-radius: 25px;
}

.redMarker{
    background-color: #ff4747;
    border-radius: 25px;
    padding: 0 5px 0 5px;

}
.cardFooter{
    display: flex;
    justify-content: flex-end;
}
.cardFooter p{
    font-weight: 600;
}

.flyDetailContainer{
    display: flex;
    justify-content: space-between;
}

.flyDetails{
    border-radius: 25px;
    padding: 20px;
    background-color: #fff;
    width: 50%;
    height: 100%;
    min-height: 53vh;
}
.clase{
    border-radius: 25px;
    padding: 20px;
    background-color: #fff;
    width: 400px;
    height: 24vh;
    margin-bottom: 1vh;
}

.titleContainer{
    display: flex;
    align-items: center;
}
.titleContainer img{
    width: 50px;
    height: 50px;
}
.titleContainer h1{
    margin: 0;
}
.imgTitleContainer{
    height: 200px;
    width: 100%;
    border-radius: 25px;
    margin-top: 20px;
}
.imgTitleContainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 481%;
    border-radius: 25px;
}
.imgTitleContainer h2{
    position: absolute;
    /* margin: auto; */
    top: 280px;
    left: 22%;
    color: #fff;
    z-index: 11;
}
.overlay {
    position: relative;
    top: -204px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    border-radius: 25px;
  }