<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar vuelo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Agregar Vuelo</h1>
        <form class="form" id="form">
            <!-- hazme un selector con todas las ciudades de colombia que tengan aeropuerto -->
            <input placeholder="Numero de vuelo" />
            <label for="origen">Ciudad Origen</label>
            <select class="selectorCityOrigern" id="selectorCity" aria-placeholder="Ciudad Origen">
                <option value="Bogota">Bogota</option>
                <option value="Medellin">Medellin</option>
                <option value="Cali">Cali</option>
                <option value="Barranquilla">Barranquilla</option>
                <option value="Cartagena">Cartagena</option>
                <option value="Cucuta">Cucuta</option>
                <option value="Ibague">Ibague</option>
                <option value="Bucaramanga">Bucaramanga</option>
                <option value="Santa Marta">Santa Marta</option>
                <option value="Villavicencio">Villavicencio</option>
                <option value="Pereira">Pereira</option>
                <option value="Pasto">Pasto</option>
                <option value="Manizales">Manizales</option>
                <option value="Neiva">Neiva</option>
                <option value="Armenia">Armenia</option>
            </select>
            <label for="origen">Ciudad Destino</label>
            <select class="selectorCityDestino" id="selectorCity" aria-placeholder="Ciudad Destino">
                <option value="Bogota">Bogota</option>
                <option value="Medellin">Medellin</option>
                <option value="Cali">Cali</option>
                <option value="Barranquilla">Barranquilla</option>
                <option value="Cartagena">Cartagena</option>
                <option value="Cucuta">Cucuta</option>
                <option value="Ibague">Ibague</option>
                <option value="Bucaramanga">Bucaramanga</option>
                <option value="Santa Marta">Santa Marta</option>
                <option value="Villavicencio">Villavicencio</option>
                <option value="Pereira">Pereira</option>
                <option value="Pasto">Pasto</option>
                <option value="Manizales">Manizales</option>
                <option value="Neiva">Neiva</option>
                <option value="Armenia">Armenia</option>
            </select>
            <label >Fecha de salida</label>
            <input placeholder="Fecha de salida" type="date"/>
            <label >Fecha de llegada</label>
            <input placeholder="Fecha de llegada" type="date"/>
            <label >Hora de salida</label>
            <input placeholder="Hora de salida" type="time"/>
            <label >Fecha de llegada</label>
            <input placeholder="Hora de llegada" type="time" />
            <label for="origen">Ciudad Tipo vuelo</label>
            <select class="selectorTipoVuelo" id="selectorCity" aria-placeholder="tipo_vuelo">
                <option value="privado">Privado</option>
                <option value="comercial">Comercial</option>
            </select>
            <label for="origen">Matricula avion</label>
            <select class="selectorMatricula" id="selectorCity" aria-placeholder="matricula_avion">
                <!-- <option value="privado">Privado</option>
                <option value="comercial">Comercial</option> -->
            </select>
            <button type="submit">Agregar</button>
        </form>
    </div>
    <script>
        let form = document.getElementById("form")
        form.addEventListener("submit", function(event) {
            event.preventDefault();  // Previene el comportamiento de redirección del formulario
            const dataToSend = {
                numero_vuelo: event.target[0].value,
                origen: event.target[1].value,
                destino: event.target[2].value,
                fecha_ida: event.target[3].value,
                fecha_regreso: event.target[4].value,
                hora_ida: event.target[5].value,
                hora_regreso: event.target[6].value,
                tipo_vuelo: event.target[7].value,
                matricula_avion: event.target[8].value
            }
            console.log({event, dataToSend})
        
            fetch('/api/dashboard/agregarVuelo', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dataToSend)
            })
                .then(response => response.json())
                .then(data => {
                    // Maneja la respuesta obtenida del endpoint después de hacer el POST
                    console.log(data);
                    form.reset()
                })
                .catch(error => {
                    // Maneja el error en caso de que la solicitud falle
                    console.log(error);
                });
        });
    </script>
</body>
</html>